.loader {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 15px;
  }
  
  .load_text {
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  
  .item_box {
    margin-top: 10px;
    margin-bottom: 50px;
    border: 0px solid #000;
    border-radius: 2px;
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.81);
  }
  
.modal_ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main_ {
  position: fixed;
  background: white;
  width: 80%;
  max-width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}

.dropButton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropdown-buttons {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropdown-buttons:hover {background-color: #ddd;}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropButton {background-color: #3e8e41;}