
  body {
  margin: 0;
  background-image: linear-gradient(to right top, #ffffff, #fefeff, #fdfdff, #fbfcff, #fafbff, #f9fbfe, #f9fafe, #f8fafd, #f9fafc, #f9f9fb, #f9f9fa, #f9f9f9);
}

h1, p {
  text-align: center;
}

adminForm {
  width: 50rem;
  margin-left: 25%;
  
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid #3b3b4f;

  width: 50rem;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 2px 0 0 0;
  width: 150%;
  min-height: 2em;
  background-color: whitesmoke;
  color: black;
}

input, textarea {
  background-color: whitesmoke;
  border: 1px solid #0a0a23;
  color: black;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}


input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}