.form-home {
  background-color: rgb(245, 254, 255, 0.75);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title-home {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-decoration: underline;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1_home {
  margin: 35px 0px;
}

.cut_home {
  background-color: rgb(245, 254, 255, 0);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut_home,
.input:not(:placeholder-shown) ~ .cut_home {
  transform: translateY(8px);
}

.placeholder_home {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 15px;
}

.input:focus ~ .placeholder_home,
.input:not(:placeholder-shown) ~ .placeholder_home {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder_home {
  color: black;
}

.input:focus ~ .placeholder_home {
  color: #00008B;
}

.submitLogIn {
  background-color: #1E56A0;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 100%;
  padding: 0em;
  margin: 0px;
}

.submitLogIn:active {
  background-color: #1E56A0;
}
